<div class="home" id="home">
  <!-- <div class="btn-login btn">
    <a href="/login">Log In</a>
  </div> -->
  <div class="btn-login btn">
    <a href="/browse">Browser</a>
  </div>
  <section class="showcase">
    <div class="details">
      <h4>
        Lor. Provident inventore neque,nda alias ipsa nihil quo maiores tenetur
        quam rem? delectus, quisquam asperiores adipisci eligendi quibusdam
        cupiditate? Ad facere explicabo harum alias earum quo exercitationem
        perspiciatis, facilis magnam reiciendis praesentium obcaecati assumenda
        modi, ipsa voluptatem, unde a quia placeat aliquam natus!
      </h4>
      <a href="/subscribe" class="btn btn-lg btn-primary">Subscribe</a>
    </div>
    <div class="image">
      <img src="../../../assets/images/header.jpg" alt="images" />
    </div>
  </section>
  <section class="section-films">
    <h3 class="title">Enjoy with Makaya</h3>
    <div class="images">
      <div class="">
        <img src="../../../assets/images/AvengersEndgame@2x-2.png" alt="" />
      </div>
      <div class="">
        <img src="../../../assets/images/Mulan_ES-419.jpg" alt="" />
      </div>
      <div class="">
        <img src="../../../assets/images/Toy_Story_4_Grid_Item-1.jpg" alt="" />
      </div>
      <div class="">
        <img src="../../../assets/images/Onward_es-419.jpg" alt="" />
      </div>
      <div class="">
        <img src="../../../assets/images/Star_Wars_TROS_ES.jpg" alt="" />
      </div>
      <div class="">
        <img src="../../../assets/images/AvengersEndgame@2x-2.png" alt="" />
      </div>
    </div>
  </section>
  <section class="devices">
    <div class="description">Devices Avaible</div>
    <div class="devices-items">
      <div class="item">
        <div class="image-wrapper">
          <picture>
            <img
              src="https://cannonball-cdn.bamgrid.com/assets/originals/device-group-mobile-tablet.png"
              alt=""
            />
          </picture>
        </div>
        <h3 class="title">Phones & Tablets</h3>
        <div class="sub-items">
          <p>one</p>
          <p>two</p>
          <p>three</p>
        </div>
      </div>
      <div class="item">
        <div class="image-wrapper">
          <picture>
            <img
              src="https://cannonball-cdn.bamgrid.com/assets/originals/device-group-computer.png"
              alt=""
            />
          </picture>
        </div>
        <h3 class="title">Phones & Tablets</h3>
        <div class="sub-items">
          <p>one</p>
          <p>two</p>
          <p>three</p>
        </div>
      </div>
      <div class="item">
        <div class="image-wrapper">
          <picture>
            <img
              src="https://cannonball-cdn.bamgrid.com/assets/originals/device-group-mobile-tablet.png"
              alt=""
            />
          </picture>
        </div>
        <h3 class="title">Phones & Tablets</h3>
        <div class="sub-items">
          <p>one</p>
          <p>two</p>
          <p>three</p>
        </div>
      </div>
      <div class="item">
        <div class="image-wrapper">
          <picture>
            <img
              src="https://cannonball-cdn.bamgrid.com/assets/originals/device-group-computer.png"
              alt=""
            />
          </picture>
        </div>
        <h3 class="title">Phones & Tablets</h3>
        <div class="sub-items">
          <p>one</p>
          <p>two</p>
          <p>three</p>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
