<div class="medias">
  <!-- <p-carousel
    [value]=""
    [numVisible]="3"
    [numScroll]="3"
    [circular]="false"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template pTemplate="header">
      <h5>Basic</h5>
    </ng-template>
    <ng-template let-product pTemplate="item">
      <app-media></app-media>
      <app-media></app-media>
      <app-media></app-media>
      <app-media></app-media>
      <app-media></app-media>
    </ng-template>
  </p-carousel> -->

  <div class="gender gender-love">
    <h3 class="header-title gender-title">
      <a href="#">
        <div class="title">Love</div>
        <div class="title-hover-details">See all</div>
      </a>
    </h3>
    <div class="row-container">
      <div class="row-container-items">
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
      </div>
    </div>
  </div>
  <div class="gender gender-love">
    <h3 class="header-title gender-title">
      <a href="#">
        <div class="title">Love</div>
        <div class="title-hover-details">See all</div>
      </a>
    </h3>
    <div class="row-container">
      <div class="row-container-items">
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
      </div>
    </div>
  </div>
  <div class="gender gender-love">
    <h3 class="header-title gender-title">
      <a href="#">
        <div class="title">Love</div>
        <div class="title-hover-details">See all</div>
      </a>
    </h3>
    <div class="row-container">
      <div class="row-container-items">
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
      </div>
    </div>
  </div>
  <div class="gender gender-love">
    <h3 class="header-title gender-title">
      <a href="#">
        <div class="title">Love</div>
        <div class="title-hover-details">See all</div>
      </a>
    </h3>
    <div class="row-container">
      <div class="row-container-items">
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
      </div>
    </div>
  </div>
  <div class="gender gender-love">
    <h3 class="header-title gender-title">
      <a href="#">
        <div class="title">Love</div>
        <div class="title-hover-details">See all</div>
      </a>
    </h3>
    <div class="row-container">
      <div class="row-container-items">
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
      </div>
    </div>
  </div>
  <div class="gender gender-love">
    <h3 class="header-title gender-title">
      <a href="#">
        <div class="title">Love</div>
        <div class="title-hover-details">See all</div>
      </a>
    </h3>
    <div class="row-container">
      <div class="row-container-items">
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
        <app-media></app-media>
      </div>
    </div>
  </div>
</div>
