<div
  class="
    subscribe-password
    w-100
    vh-100
    d-flex
    justify-content-center
    align-items-center
    step-2
    create-password
  "
>
  <div class="subscribe-box-password p-2">
    <p class="title step-2-title">Step 2 of 4</p>
    <form
      class="
        subscribe-form-password
        d-flex
        justify-content-center
        gap-4
        flex-column
      "
    >
      <h3 class="form-title">Create a password</h3>
      <fieldset class="w-100">
        <input
          type="password"
          class="form-control"
          placeholder="you_password"
          required
        />
      </fieldset>
      <fieldset class="accept-condition-box">
        <label for="accept-condition">Accept Condition</label>
        <input
          type="checkbox"
          class="chkbox-accept-condition"
          name="accept-condition"
          required
        />
      </fieldset>
      <div class="conditions">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem tempora
        ut possimus quidem dolor voluptate cumque esse voluptatum, sed ratione,
        distinctio, ducimus commodi ipsam sunt praesentium perferendis
        reiciendis in velit debitis incidunt provident molestiae. Odit quis
        ducimus, corporis assumenda facilis minus sit, quisquam libero
        recusandae in nisi hic commodi ad dignissimos laborum mollitia impedit
        eligendi magnam deleniti ipsum atque reiciendis sint. Asperiores,
        ratione adipisci animi ex laudantium fuga sit facilis fugit, iusto,
        neque aspernatur. Qui pariatur excepturi iure, repellat magnam similique
        nostrum dolorem impedit recusandae dolor obcaecati necessitatibus
        voluptate nihil ab quam sit at alias. Officiis error sed et, facilis
        dolor ducimus reprehenderit tempora provident, quaerat sapiente,
        repellat est! Corporis ipsa totam officiis accusamus velit quos
        veritatis natus, atque explicabo maxime ducimus saepe nulla eius eveniet
        iure. Labore, sapiente! Eaque aperiam accusantium itaque cumque rem modi
        minus voluptates praesentium autem reiciendis. Vitae similique
        perspiciatis eligendi minus pariatur molestiae! Sapiente, architecto?
        Quibusdam quasi soluta placeat error sed, ad voluptatem modi maxime ea
        qui earum accusantium. Nam aliquam, voluptatum illum, delectus sed
        laborum praesentium ratione et optio deleniti excepturi voluptate ea eos
        mollitia rem vel repudiandae. In quo officia natus sint aut, laboriosam
        illum ea et repellat amet voluptas ipsa totam sunt.
      </div>
      <fieldset class="">
        <button
          (click)="createPassword($event)"
          class="btn btn-subscribe btn-primary"
        >
          Next
        </button>
      </fieldset>
    </form>
  </div>
</div>
