<app-menu></app-menu>
<div class="showcase">
  <img src="../../../assets/images/Star_Wars_TROS_ES.jpg" alt="" />
  <div class="info">
    <div class="info-left">
      <p>Title</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
        dolore perspiciatis, incidunt atque molestiae nesciunt.
      </p>
    </div>
    <div class="info-right">
      <i class="fas fa-play-circle"></i>
      <i class="fas fa-volume-mute"></i>
      <i class="fas fa-bell icon"></i>
    </div>
  </div>
</div>

<app-medias></app-medias>
<app-footer></app-footer>
